body{
    background-color:  #5FA565;
    color: white;
    margin-left: 15%;
    margin-right: 10%;
}
.container{
    width: 100%;
}
.left {
    width:50%;
    float:left;
}
.right {
    width:50%;
    float: right;
}
.nikola {
    margin-left: 25%;
    border: solid;
    width: 30%;
    overflow: auto;
}

.nikola img {
    float: left;
    margin: 20px;
}
  
.nikola h2 {
    margin-top: 20px;
    
   
}
.rodenje{
    margin-top: 20px;
    border: solid;
    width: 40%;
    box-sizing: border-box;
    width: 90%;
}
.mladost{
    width: 90%;
    border: solid;
   margin-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;
}
.posao{
    width: 90%;
    border: solid;
    box-sizing: border-box;
   margin-bottom: 20px;
   margin-top: 20px;
}
.posao img{
    float: right;
    margin-right: 20px;
   
}
.posao p,h3{
    
    margin-left: 20px;
    margin-right: 20px;

}
.smrt{
    border: solid;
    width: 90%;
    
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.smrt h3,p{
   margin: 20px;
}
.rec{
    clear: both;
    border: solid;
    margin-top: 10%;
    margin-left: 25%;
    width: 40%;
    margin-bottom: 20px;
}
.rec p{
    margin: 20px;
}
.img1{
    width: 40%;
    float: left;
    margin-right: 7%;
}
.enc{
    float: left;
    margin-top: 30px;
    margin-right: 30px;
    background-color: #5FA565;
    border: none;
    border: solid;
    color: white;
    border-color: white;
    height: 100px;
    width: 350px;
}
.wiki{
   float: left;
   margin-top: 30px;
    background-color: #5FA565;
    border: none;
    border: solid;
    color: white;
    border-color: white;
    margin-right: 30px;
    height: 145px;
    width: 400px;
}
.memo{
    float: left;
    margin-top: 30px;
    background-color: #5FA565;
    border: none;
    border: solid;
    color: white;
    border-color: white;
    width: 400px;
    height: 70px;
    margin-bottom: 8%;
}
.pa{
    
    clear: both;
    margin-top: 10%;
    margin-left: 40%;
}

@media (max-width: 1000px) {
    body{
        background-color: #3775E4;
        
    }
    main {
        width:100%;
        max-width:540px;
        height:100%;
        margin:0 auto;
        
    }
    .left {
        width:100%;
    }
    .right {
        width:100%;
    }
    .nikola{
        width: 80%;
        margin: 0;
    }
    .nikola img{
        float: right;
    }
    .nikola h2{
        margin-left: 20px;
    }
    .rodenje {
        float: left;
        width:250px;
        height:700px;
        margin-right: 20px;
    }
    .posao {
        float: left;
        width:250px;
        height:700px;
    }
    .mladost {
        float: left;
        width:250px;
        height:500px;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .smrt {
        float: left;
        margin: 0;
        margin-left: 20px;
        width:250px;
        height:500px;
        
    }
    .rec{
        width: 80%;
        margin-left: 0;
    }
    .rec p{
        margin: 20px;
    }
    .img1{
        float: left;
        margin-right: 2px;
        width: 45%;
    }
    .img2{
        width: 45%;
        float: left;
        margin-right: 2px;
    }
    .img1 img{
        width: 100%;
        
    }
    .img2 img{
        width: 100%;
    }
    .enc{
        clear: both;
        float: left;
        margin-top: 30px;
        margin-right: 30px;
        background-color: #3775E4;
        border: none;
        border: solid;
        color: white;
        border-color: white;
        height: 100px;
        width: 350px;
    }
    .wiki{
        clear: both;
       float: left;
       margin-top: 30px;
        background-color: #3775E4;
        border: none;
        border: solid;
        color: white;
        border-color: white;
        margin-right: 30px;
        height: 145px;
        width: 400px;
    }
    .memo{
        float: left;
        margin-top: 30px;
        background-color: #3775E4;
        border: none;
        border: solid;
        color: white;
        border-color: white;
        width: 400px;
        height: 70px;
        margin-bottom: 8%;
    }
    .pa{
        
        clear: both;
        margin-top: 10%;
        margin-left: 40%;
    }
}
@media (max-width:799px) {
    body{
        background-color: #774DF6;
    }
}